* {
    box-sizing: border-box;
}

a, article, body, div, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, li, nav, ol, p, section, span, u, ul, input, textarea, iframe {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    position: relative;
    background: #F3F4F7;
}

/*  FIXED BLOCK  */

.container {
    display: block;
    position: relative;
    width: 1200px;
    min-width: 1150px;
    margin: 0 auto;
}

.product_block {
    margin: -10px 0 0 0;
    padding: 25px 0;
    position: relative;
}

.bottom_arrow {
    position: absolute;
    height: 35px;
    width: 100%;
    bottom: -34px;
    left: 0;
}

.description_arrow {
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: -60px;
    left: 0;
}

.top_block {
    background-color: #EAF1F6;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 1200;
    position: fixed;
    width: 100%;
    top: 0;
}

.top_block .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.top_block .logo {
    width: 360px;
}

.top_block .logo a{
    display: block;
}

.top_block .social {
    width: 170px;
    color: #838D94;
    text-align: center;
    font-size: 16px;
}

.top_block .download_price {
    width: 170px;
    color: #578C2D;
    border: 1px solid #578C2D;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.top_block .social ul {
    padding: 0 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

.top_block .social ul li {
    display: block;
}

.top_block .social ul li a {
    display: block;
    padding: 10px;
}

.top_block .social ul a.tw {
    background-image: url('../images/tw_icon.png');
}

.top_block .social ul a.fb {
    background-image: url('../images/fb_icon.png');
}

.top_block .social ul a.vk {
    background-image: url('../images/vk_icon.png');
}

.top_block .download_price .download {
    display: block;
    color: #578C2D;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
}

.top_block_col.tel {
    padding-left: 60px;
    background: url('../images/contacts_icon_top.png') no-repeat;
    color: #578c2d;
}

.top_block_col .tel_number {
    font-weight: 700;
    font-size: 22px;
}

.top_block_col .order {
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

/*  HEADER  */

header {
    position: relative;
    margin-top: 80px;
    z-index: 60;
    background: url('../images/bg_header.jpg') no-repeat;
    background-size: cover;
    padding: 25px 0 30px 0;
}

.header_description {
    width: 850px;
    margin: 0 auto 25px auto;
    padding: 20px 15px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #A3CB86;
    background: rgba(58, 105, 24, 0.4);
}

.only_us {
    background-color: rgba(44, 141, 28, 0.6);
    color: #fff;
    font-size: 1.3em;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

.buy_now {
    display: block;
    width: 310px;
    padding: 15px 30px;
    margin: 15px auto 0 auto;
    outline: none;
    border: 3px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    font-size: 1.2em;
    cursor: pointer;
    background: -webkit-linear-gradient(top, #fe5016 0%, #fd8b0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fe5016 0%,#fd8b0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fe5016 0%,#fd8b0e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fe5016 0%,#fd8b0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5016', endColorstr='#fd8b0e',GradientType=0 ); /* IE6-9 */
}

.buy_now:hover {
    background: -webkit-linear-gradient(top, #fda151 0%,#fe5016 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fda151 0%,#fe5016 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fda151 0%,#fe5016 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fda151 0%,#fe5016 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fda151', endColorstr='#fe5016',GradientType=0 ); /* IE6-9 */
}

header .bottom_arrow {
    background: url('../images/bg_arrow_09.png') no-repeat top center;
    bottom: -25px;
}


/*  PRODUCT BLOCKs  */


.product_block.product_1 {
    background: url('../images/bg_block_01.jpg') no-repeat center;
    background-size: cover;
    z-index: 50;
}

.name_product {
    position: relative;
    overflow: hidden;
}

.best_price {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin: 10px 0 5px 60px;
}

.title_product {
    width: 25%;
    float: left;
    font-size: 2.5em;
    font-weight: 900;
    margin-left: 65px;
}

.title_product p {
    font-size: 0.7em;
    margin: 0;
}

.power {
    padding: 3px;
    color: #ff0504;
    font-size: 0.35em;
    margin-left: -10px;
    border-top: 3px solid #ff0504;
    border-bottom: 3px solid #ff0504;
}

.tagline {
    width: 400px;
    float: right;
    margin-right: 200px;
    padding-bottom: 30px;
    color: #578c2d;
    background: url('../images/slogan.png') no-repeat bottom;
}

.details {
    position: relative;
    overflow: hidden;
}

.price_product {
    width: 600px;
    float: left;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.old_price, .new_price {
    display: inline-block;
    vertical-align: top;
}

.new_price {
    margin-left: -110px;
}

.old_price {
    margin-left: 20px;
}

.advantages {
    display: block;
}

.order_form {
    float: right;
    margin-right: 5px;
    margin-top: 40px;
    width: 308px;
    border: 1px solid #feca88;
    background: rgba(255, 255, 255, 0.7);
}

.order_form .buy_now {
    margin: 20px 0 -30px -17px;
}

.order_form form {
    padding: 15px;
}

.order_form .title_form {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
    color: #23313a;
}

.order_form label {
    display: block;
    font-size: 0.9em;
    text-transform: uppercase;
    line-height: 36px;
}

.order_form input {
    display: block;
    width: 100%;
    border-radius: 8px;
    height: 45px;
    padding: 0 13px;
    outline: none;
    margin-bottom: 5px;
    border: 2px solid #0AA140;
}

.call_you {
    font-size: 0.8em;
    font-weight: 900;
    text-align: center;
    margin-top: 25px;
}

.echo {
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 430px;
    text-align: right;
}

.logo_echo {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 50px;
}

.echo_text {
    text-align: justify;
    font-size: 0.8em;
}

.product_block.product_1 .bottom_arrow {
    background: url('../images/bg_arrow_09.png') no-repeat top center;
}


/*  PRODUCT BLOCKs  */



.product_block_description {
    position: relative;
    padding-bottom: 15px;
}

.product_block_description.description_1 {
    background: url('../images/bg_block_02.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 45;
}

.caption_description {
    padding-top: 50px;
    position: relative;
}

.caption_1 {
    position: relative;
    width: 45%;
    height: 50px;
    float: left;
    border-top: 47px solid #578c2d;
    border-right: 25px solid transparent;
    text-align: right;
    padding-right: 150px;
}

.caption_1 h2 {
    margin: 0;
    margin-top: -35px;
    font-size: 20px;
    color: #ffffff;
}

.caption_2 {
    position: relative;
    width: 45%;
    height: 50px;
    float: right;
    border-top: 47px solid #ff6600;
    border-left: 25px solid transparent;
    text-align: left;
    padding-left: 150px;
}

.caption_2 h2 {
    margin: 0;
    margin-top: -35px;
    font-size: 20px;
    color: #ffffff;
}

.description_body {
    position: relative;
    overflow: hidden;
}

.description_left {
    position: relative;
     width: 50%;
     float: left;
 }

.description_center {
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.description_right {
    position: relative;
    width: 50%;
    float: right;
    padding-left: 15%;
}

.description_left ul {
    padding: 0 15% 0 10%;
}

.description_left .advantages-block {
    list-style: none;
    background: url('../images/advantages_point.png') no-repeat 0 8px;
    padding-left: 30px;
    line-height: 36px;
    font-size: 15px;
    color: #333333;
}

.description_right ul {
    padding-left: 100px;
    background: url('../images/echo_brand_02.png') no-repeat left center;
    margin: 15px 0;
}

.description_right .feature-block {
    list-style: none;
    line-height: 17px;
    font-size: 14px;
    color: #333333;
}

.description_center div img {
    display: none;
}

.description_center div:hover img {
    display: block;
}

.description_center div:hover {
    background: url('../images/detail_icon_active.png') no-repeat;
    z-index: 10;
}

.trimmer_mini {
    display: block;
    width: 270px;
    margin: 0 auto;
}

.trimmer_detail_1, .trimmer_detail_2, .trimmer_detail_3 {
    position: absolute;
    width: 33px;
    height: 33px;
    background: url('../images/detail_icon.png') no-repeat;
    cursor: pointer;
    z-index: 4;
}

.trimmer_detail_1 img, .trimmer_detail_2 img, .trimmer_detail_3 img {
    transform: translateX(-40%);
    width: 200px;
    height: 230px;
}

.trimmer_detail_1 img, .trimmer_detail_2 img {
    margin-top: 33px;
}

.trimmer_detail_3 img {
    margin-top: -225px;
}

.description_1 .trimmer_detail_1 {
    top: 50px;
    left: 155px;
}

.description_1 .trimmer_detail_2 {
    top: 230px;
    left: 100px;
}

.description_1 .trimmer_detail_3 {
    top: 420px;
    left: 185px;
}

.description_1 .description_arrow {
     background: url('../images/bg_arrow_02.png') no-repeat top center;
 }

.description_arrow ul {
    display: flex;
    width: 100px;
    margin: 15px auto;
    justify-content: space-between;
    align-items: center;
}

.description_arrow ul li {
   display: block;
}

.description_arrow a {
    display: block;
    padding: 10px;
}

.description_arrow ul a.tw {
    background-image: url('../images/tw_icon.png');
}

.description_arrow ul a.fb {
    background-image: url('../images/fb_icon.png');
}

.description_arrow ul a.vk {
    background-image: url('../images/vk_icon.png');
}

.description_arrow ul a.mail {
    background-image: url('../images/mr_icon.png');
}


/*  PRODUCT BLOCKs  */



.product_2 {
    background: url('../images/bg_block_03.jpg') no-repeat center;
    background-size: cover;
    z-index: 40;
    margin-top: 40px;
}

.product_2 .name_product {

}

.product_2 .best_price {
    width: 30%;
    margin-left: 60px;
    float: left;
    color: #ffffff;
}

.product_2 .title_product {
    width: 50%;
    float: right;
    color: #ffffff;
}

.product_2 .title_product span {
    position: absolute;
    top: 30px;
    right: 100px;
    color: #ffffff;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.product_2 .new_price, .product_2 .old_price {
    margin-top: 150px;
}

.product_2 .advantages {
    margin-top: -100px;
}

.product_2 .echo {
    left: 20%;
    width: 590px;
}

.product_2 .logo_echo {
    margin: 0;
    float: right;
}

.product_2 .echo_text {
    display: inline-block;
    float: left;
    text-align: left;
    width: 370px;
    color: #ffffff;
    font-size: 13px;
}

.product_2 .bottom_arrow {
    background: url('../images/bg_arrow_03.png') no-repeat top center;
}



/*  PRODUCT BLOCKs  */



.product_block_description.description_2 {
    background: url('../images/bg_block_04.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 35;
}

.description_2 .advantages-block {
    font-weight: 700;
}

.description_2 .caption_1 {
    border-top: 47px solid #009933;
}

.description_2 .caption_2 {
    border-top: 47px solid #258C89;
}

.description_2 .trimmer_detail_1 {
    top: 85px;
    left: 100px;
}

.description_2 .trimmer_detail_2 {
    top: 300px;
    left: 100px;
}

.description_2 .trimmer_detail_3 {
    top: 420px;
    left: 130px;
}

.trimmer_detail_3 img {
    margin-top: -147px;
}

.description_2 .trimmer_detail_1 img, .description_2 .trimmer_detail_2 img, .description_2 .trimmer_detail_3 img {
    transform: translateX(-38%);
    width: 130px;
    height: 150px;
}

.description_2 .description_arrow {
background: url('../images/bg_arrow_04.png') no-repeat top center;
}




/*  PRODUCT BLOCKs  */

.product_3 {
    background: url('../images/bg_block_05.jpg') no-repeat center;
    background-size: cover;
    z-index: 30;
    margin-top: 40px;
}

.product_3 .best_price {
    width: 25%;
    margin-left: 60px;
    float: left;
    text-align: center;
    color: #ffffff;
}

.product_3 .title_product {
    width: 50%;
    float: right;
    color: #ffffff;
}

.product_3 .title_product p {
    display: inline-block;
    padding-left: 15px;
}

.product_3 .title_product span {
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-size: 16px;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.product_3 .new_price, .product_3 .old_price {
    margin-top: 150px;
}

.product_3 .advantages {
    margin-top: -100px;
}

.product_3 .echo {
    left: 20%;
    width: 590px;
}

.product_3 .logo_echo {
    margin: 0;
    float: right;
}

.product_3 .echo_text {
    display: inline-block;
    float: left;
    text-align: left;
    width: 370px;
    color: #ffffff;
    font-size: 13px;
}

.product_3 .bottom_arrow {
    background: url('../images/bg_arrow_05.png') no-repeat top center;
}



/*  PRODUCT BLOCKs  */



.product_block_description.description_3 {
    background: url('../images/bg_block_06.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 25;
}

.description_3 .advantages-block {
    font-weight: 700;
}

.description_3 .caption_1 {
    border-top: 47px solid #ff9d1f;
}

.description_3 .caption_2 {
    border-top: 47px solid #e16e2b;
}

.description_3 .trimmer_detail_1 {
    top: 95px;
    left: 80px;
}

.description_3 .trimmer_detail_2 {
    top: 300px;
    left: 140px;
}

.description_3 .trimmer_detail_3 {
    top: 420px;
    left: 125px;
}

.trimmer_detail_3 img {
    margin-top: -147px;
}

.description_3 .trimmer_detail_1 img, .description_3 .trimmer_detail_2 img, .description_3 .trimmer_detail_3 img {
    transform: translateX(-38%);
    width: 130px;
    height: 150px;
}

.description_3 .description_arrow {
    background: url('../images/bg_arrow_06.png') no-repeat top center;
}

/*  PRODUCT BLOCKs  */

.product_4 {
    background: url('../images/bg_block_07.jpg') no-repeat center;
    background-size: cover;
    z-index: 24;
    margin-top: 40px;
}

.product_4 .choice {
    background: url('../images/line-title_2.png') no-repeat center;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 40px;
}

.product_4 .container {
    display: flex;
}

.product_4 .product_choice {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.product_item {
    display: block;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.caption_product {
    width: 65%;
    font-size: 17px;
    padding-bottom: 15px;
    padding-left: 5px;
    background: url('../images/line_title.png') no-repeat bottom left;
}

.buy_product {
    background: -webkit-linear-gradient(top, #ffb3a7 0%,#f34831 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb3a7 0%,#f34831 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb3a7 0%,#f34831 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb3a7 0%,#f34831 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb3a7', endColorstr='#f34831',GradientType=0 );
    text-transform: uppercase;
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    margin-left: 3px;
    margin-top: 10px;
}

.buy_product:hover {
    background: -webkit-linear-gradient(top, #fa9086 0%,#eb2118 64%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fa9086 0%,#eb2118 64%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fa9086 0%,#eb2118 64%); /* IE10+ */
    background: linear-gradient(to bottom, #fa9086 0%,#eb2118 64%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa9086', endColorstr='#eb2118',GradientType=0 );
}

.price {
    margin: 155px 0 0 70px;
}

.advantages_product {
    position: relative;
    float: right;
    width: 120px;
    margin-bottom: 15px;
}

.advantages_detail {
    display: none;
    position: absolute;
    bottom: 0;
    left: -180px;
    width: 250px;
    height: 375px;
    background: url('../images/block_arise.png') no-repeat bottom center;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    line-height: 16px;
}

.advantages_detail ul {
    margin-top: 60px;
}

.advantages_detail li {
    display: block;
}

.product_4 .description_arrow {
    background: url('../images/bg_arrow_07.png') no-repeat top center;
}


/*  PRODUCT BLOCKs  */


.form_block {
    background: url('../images/bg_block_08.jpg') no-repeat center;
    background-size: cover;
    z-index: 22;
    margin-top: 40px;
    overflow: visible;
    padding-bottom: 0;
}

.form_block .choice {
    background: url('../images/line-title_4.png') no-repeat center;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 40px;
    color: #ffffff;
}

.form_block .container {
    text-align: center;
    overflow: visible;
}

.advice {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 20px;
}

.name_form, .phone_form {
    height: 60px;
}

.name_form {
    background: url('../images/bg_feedback_element_01.png') no-repeat center;
}

.name_form .name_form_control {
    width: 610px;
}

.phone_form {
    background: url('../images/bg_feedback_element_02.png') no-repeat center;
}

.phone_form .phone_form_control{
    width: 540px;
}

.button_form {
    background: url('../images/bg_feedback_element_03.png') no-repeat center;
    background-size: contain;
    width: 570px;
    height: 90px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 10px;
}

.button_form .button_form_control {
    border: none;
    outline: none;
    font-size: 24px;
    margin-top: 20px;
    color: #ffffff;
    background: transparent;
}

.button_form:hover {
    background: url('../images/bg_feedback_element_03_hover.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.form_block input {
    border: none;
    outline: none;
    font-size: 14px;
    margin-top: 20px;
}

.form_block .description_arrow {
    background: url('../images/bg_arrow_08.png') no-repeat top center;
    bottom: -35px;
    z-index: 10;
}

.form_block .container {
    z-index: 20;
    position: relative;
}


/*  PRODUCT BLOCKs  */

.review_block {
    background: url('../images/bg_block_09.jpg') no-repeat center;
    background-size: cover;
    z-index: 20;
    margin-top: 15px;
    padding-top: 35px;
    color: #ffffff;
}

.review_block .container{
    overflow: hidden;
    padding-top: 20px;
}

.review_block .choice {
    background: url('../images/line-title_3.png') no-repeat center;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 10px;
}

.slide_caption, .slide_date {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.slide_date {
    font-size: 18px;
}

.slide_body {
    position: relative;
    background: url('../images/bg_block_massage.png') no-repeat center;
    padding: 40px;
    margin: 10px 30px 0 30px;
    height: 435px;
    cursor: pointer;
}

.slide_icon {
    position: absolute;
    top: -75px;
}

.left_align .slide_icon {
    left: 40px;
}

.right_align .slide_icon {
    right: 40px;
}

.slide_text {
    padding-top: 40px;
}

.slide_text h3 {
    font-size: 18px;
}

:focus {
    outline: none;
}

.slick-list {
    overflow: visible!important;
}

.review_block .description_arrow {
    background: url('../images/bg_arrow_07.png') no-repeat top center;
}


/*  PRODUCT BLOCKs  */



.map_block {
    background: url('../images/bg_block_10.jpg') no-repeat center;
    background-size: cover;
    z-index: 18;
    margin-top: 15px;
    padding-top: 60px;
    color: #ffffff;
}

.place {
    background: url('../images/line-title_4.png') no-repeat center;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 30px;
}

.map {
    width: 1000px;
    height: 450px;
    margin: 0 auto 50px auto;
    border: 2px solid #ff0504;
    box-shadow: 0 50px 19px -25px #999999;
}

.map_block .container {
    overflow: visible;
    margin-bottom: -130px!important;
}


/*  PRODUCT BLOCKs  */



.adress_block {
    background: #F3F4F7;
    box-shadow: 0 0 4px 5px #aaaaaa;
    z-index: 15;
    position: relative;
}

.adress_block .container {
    padding: 100px 100px 0 100px;
    position: relative;
    overflow: hidden;
}

.adress_block p {
    font-size: 17px;
    margin: 12px 0;
    line-height: 24px;
}

.adress {
    float: left;
    width: 40%;
    padding-top: 80px;
    background: url('../images/contacts_icon_footer.png') no-repeat left top;
}

.requisites {
    float: right;
    width: 60%;
    color: #808080;
    padding-left: 30px;
    padding-top: 20px;
}



/*  FOOTER  */

footer {
    background: #F3F4F7;
    z-index: 17;
    position: relative;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 120px 5px 20px;
}

.footer_top {
    margin: 15px 0;
}

.footer_col.download_price {
    width: 170px;
    color: #578C2D;
    border: 1px solid #578C2D;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.footer_col.download_price .download {
    display: block;
    color: #578C2D;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
}

.footer_col.up {
    margin-top: -50px;
    position: relative;
}

.footer_col.up:hover {
    opacity: 0.7;
}

.footer_bottom {
    box-shadow: 0 0 4px 5px #aaaaaa;
    color: #afbac1;
    padding: 30px 0;
    font-size: 12px;
    text-align: center;
}




/*  OVERLAYER  */

#overlay_layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.close_block {
    position: absolute;
    width: 30px;
    height: 35px;
    right: -10px;
    top: -10px;
    background: url('../images/close_block.png') no-repeat;
    cursor: pointer;
}

#overlay_layer .order_form {
    float: none;
    margin: 0 auto;
    transform: translateY(50%);
    background: #F3F4F1;
}

.visible_flag {
    display: block!important;
}