* {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

body {
    background: #FAEEB0;
}

.links_block {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 200px;
    margin: 200px auto;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/wall.jpg');
    background-size: cover;
    z-index: -1;
}

.links_block:hover .wrapper{
    transform: translateZ(0) scale(1.5);
}

.link {
    position: absolute;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.link.fb {
    top: 35%;
    left: 17%;
    background: #5273B5;
}

.link.tw {
    top: 10%;
    left: 42%;
    background: #3FAAE1;
}

.link.google {
    top: 35%;
    left: 67%;
    background: #E84A2B;
}

.link a:first-child {
    display: block;
    margin-top: -300px;
}

.link a:last-child {
    display: block;
    margin-top: 700px;
}

.link span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 50%!important;
}

.fb span {
    background:  url('../images/fb.png') center no-repeat;
}

.tw span {
    background:  url('../images/tw.png') center no-repeat;
}

.google span {
    background:  url('../images/google.png') center no-repeat;
}

.down {
    top: 1000px!important;
}

.activate {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    border-radius: 50%;
    background: #FE5567;
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height:100px;
    cursor: pointer;
}

.deactivate {
    margin-top: 100px;
    background: transparent;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.8);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

@-webkit-keyframes rot {
    50% {margin-top: -20px;}
    80% {margin-top: 5px;}
    100% {margin-top: 0;}
}

@-ms-keyframes rot {
    50% {margin-top: -20px;}
    80% {margin-top: 5px;}
    100% {margin-top: 0;}
}

@keyframes rot {
    50% {margin-top: -20px;}
    80% {margin-top: 3px;}
    100% {margin-top: 0;}
}

.link:not(.down) {
    -webkit-animation: rot 0.5s ease-out;
    -moz-animation: rot 0.5s ease-out;
    -ms-animation: rot 0.5s ease-out;
    -o-animation: rot 0.5s ease-out;
    animation: rot 0.6s ease-out;
}

